//main:style.scss


/* ==================
   リセット
================== */
.menu-toggle{ display: block; }

.main-navigation {
    clear:none;
    float: none;
    width: auto;
}

.main-navigation li{ float: none; }


.main-navigation ul ul li:hover>ul, .main-navigation ul ul li.focus>ul {
  left: auto;
}
.main-navigation ul ul a {
  width: auto;
}

.menu-toggle{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

}


/* ==================
   header
================== */
.site-header{
  background-color: rgba(255,255,255,0.8);
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  &__inner{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    /* 左右空き */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 $site_lr_space;
    margin-left: auto;
    margin-right: auto;
  }

  @include media_m{
    height: 100px;
    &__inner{
      padding: 0 $site_lr_space_m;
    }
  }
}


/* ==================
   サイトタイトル
================== */
.site-branding{
  height: 100%;
  width:100%;
  padding:10px 0;

  position: relative;
  font-size: 0;
}
.site-title{
  height: 100%;
  font-size: 0;

  a{}

  img{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: auto;
    width: auto;
    vertical-align: middle;
    max-height: 100%;
  }
}


/* ==================
   メインナビゲーション
================== */
.main-navigation{
  z-index: 1;
  padding-left: 40px;
  @include _media_m{
    .menu-toggle{
      display: block;
    }

    .nav-menu{
      display: none;
    }
  }

  @include media_m{
    .menu-toggle{
      display: none;
    }

    .nav-menu{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &.toggled {
      .menu .menu-toggle{ display: none; }
      .nav-menu{ display: -webkit-box; display: -ms-flexbox; display: flex;  }
    }
  }
}


/* ==================
   ハンバーガーメニュー
================== */
.hamburger{
  position: relative;
  display: block;

  width: 34px;
  height: 28px;

  &_top,&_middle,&_bottom{
    position: absolute;
    display: block;
    left: 0;
    right:0;
    border: 3px solid #000;
  }

  &_top{
    top: 0;
  }
  &_middle{
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  &_bottom{
    bottom: 0;
  }

  @at-root{
    .menu-toggle[aria-expanded="true"] &{
      &_middle{
        display: none;
      }
      &_top{
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
        border: 3px solid #fff;
      }
      &_bottom{
        bottom:auto;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
        border: 3px solid #fff;
      }
    }
  }
}


/* ==================
   メニューラッパー
================== */
.menu{
  @include _media_m{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #333;

    /* 単体スクロール設定 */
    z-index: -1;
    overflow-x: hidden;
    ul{
      overflow: scroll;
      max-height: 100vh;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      border-right:100px solid transparent;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
    }
  }
}


/* ==================
   メニュー
================== */
.nav-menu{
  padding-top: 60px;

  li{
    border-bottom: 1px solid #666;
  }

  a,span{
    display: block;
    text-align: center;
    position: relative;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0.1em;
    font-size: 12px;
    color: #808080;

    small{
      display: block;
      font-size: 1.8em;
      color: #000;
    }

    &,& small{
      letter-spacing: 0.1em;
    }

    &.no-caption{
      font-size: 22px;
    }
  }

  a{
    &:hover{
      &,& small{
        letter-spacing: 0.3em;
      }
    }
  }

  .phone{
    &::before{
       content:'';
       display: inline-block;
       width: 0.8em;
       height: 0.8em;
       background-image: url('../img/icon_phone.png');
       background-repeat: no-repeat;
       background-position: center;
       background-size: contain;
      padding:0 0.5em 0 0;
     }
  }

  @include _media_m{
    a,span{
      padding: 1em 0;
      &,& small{
        color: #fff;
      }
    }
  }

  @include media_m{
    padding-top: 0;

    li{
      border: none;
    }
    a,span{
      padding: 0 1em;
    }
  }
}


/* ==================
   スクロール時
================== */
body.do_scroll{

  .site-header{
    height: 45px;
    @include media_m{
      height: 60px;
    }
  }

  .nav-menu{
    padding-top: 45px;
    @include media_m{
      padding-top: 0;
    }
  }

  .hamburger{
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

}


/* ==================
   アニメーション
================== */

/* -------- スクロール時アニメ -------- */
.site-header{
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.nav-menu {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}


/* -------- hover時アニメ -------- */
.nav-menu a{
  &,& small{
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}


/* -------- hamburgerクリック時アニメ -------- */
.hamburger span{
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}


/* -------- hamburgerクリック後のメニューの展開 -------- */
.main-navigation.toggled .menu{
  animation-name: menu_open_animation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0;
}

@keyframes menu_open_animation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
