//main:style.scss


/* ==================
   設定リセット
================== */
.menu-toggle{ display: block; }

.main-navigation {
    clear:none;
    float: none;
    width: auto;
}

.main-navigation li{ float: none; }


.main-navigation ul ul li:hover>ul, .main-navigation ul ul li.focus>ul {
  left: auto;
}
.main-navigation ul ul a {
  width: auto;
}

.menu-toggle{
  /* ボタンデザインリセット */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

}

/* ==================================== */

/* ==================
   header大外
================== */
.site-header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  &__inner{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
            justify-content:space-between;
    align-items: center;
  }
}

/* ==================
   サイトタイトル
================== */
.site-branding{}
.site-title{
  margin: 0;
  a{}
  img{}
}

/* ==================
   ナビゲーション
================== */
.main-navigation{
  @include _media_m{
    .menu-toggle{
      display: block;
    }

    .nav-menu{
      display: none;
    }
  }

  @include media_m{
    .menu-toggle{
      display: none;
    }

    .nav-menu{
      display: flex;
      width: 100%;
      align-items: center;
    }
    &.toggled {
      .menu .menu-toggle{ display: none; }
      .nav-menu{ display: flex;  }
    }
  }
}


/* ==================
   ハンバーガーメニュー
================== */
.hamburger{
  position: relative;
  display: block;

  width: 34px;
  height: 28px;

  &_top,&_middle,&_bottom{
    position: absolute;
    display: block;
    left: 0;
    right:0;
    border: 3px solid #000;
  }

  &_top{
    top: 0;
  }
  &_middle{
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  &_bottom{
    bottom: 0;
  }

  @at-root{
    .menu-toggle[aria-expanded="true"] &{
      &_middle{
        display: none;
      }
      &_top{
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
        border: 3px solid #fff;
      }
      &_bottom{
        bottom:auto;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
        border: 3px solid #fff;
      }
    }
  }
}


/* ==================
   メニューラッパー
================== */
.menu{
  @include _media_m{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #333;

    /* 単体スクロール設定 */
    z-index: -1;
    overflow-x: hidden;
    ul{
      overflow: scroll;
      max-height: 100vh;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 100%;
      border-right:100px solid transparent;
      box-sizing: content-box;
    }
  }
}

/* ==================
   メニュー
================== */
.nav-menu{
  padding-top: 60px;

  li{
    border-bottom: 1px solid #666;
  }

  a,span{
    text-align: center;
    position: relative;
    font-weight: normal;
    line-height: 1;
    font-size: 12px;
    padding: 0 1em;
    color: #000;

    small{
      display: block;
      color: #000;
      letter-spacing: 0.1em;
      font-size: 1.8em;
      font-family: 'Open Sans', sans-serif;
    }

  }
  @include media_m{
    padding-top: 0;
    li{
      border: none;
    }
  }
}



/* ==================
   アニメーション
================== */
// .site-header{
//   height: 60px;
//   -webkit-transition: all 1s ease-out;
//   transition: all 1s ease-out;
//
//   .site-title a img{
//     -webkit-transition: all 1s ease-out;
//     transition: all 1s ease-out;
//     height: auto;
//   }
//
//   .site-title a img{
//     max-height: 60px;
//   }
//   @at-root #page.top-on &{
//     background-color: #f2f2f2;
//     height: 45px;
//     .site-title a img{
//       max-height: 45px;
//     }
//   }
//
//   @include media_m{
//     height: 100px;
//     .site-title a img{
//       max-height: 100px;
//     }
//
//     @at-root #page.top-on &{
//       height: 50px;
//       .site-title a img{
//         max-height: 50px;
//       }
//     }
//   }
// }
//
// #masthead.main-navigation_toggled .site-title{
//   @include _media_m{
//     -webkit-animation-name: site_title_animation;
//     -webkit-animation-duration: 0.2s;
//     -webkit-animation-timing-function: ease-out;
//     -webkit-animation-fill-mode: forwards;
//     -webkit-animation-delay: 0;
//             animation-name: site_title_animation;
//             animation-duration: 0.2s;
//             animation-timing-function: ease-out;
//             animation-fill-mode: forwards;
//             animation-delay: 0;
//   }
// }
//
// @-webkit-keyframes site_title_animation {
//     0% {
//       opacity: 1;
//     }
//     100% {
//       opacity: 0;
//       visibility:hidden;
//     }
// }
//
// @keyframes site_title_animation {
//     0% {
//       opacity: 1;
//     }
//     100% {
//       opacity: 0;
//       visibility:hidden;
//     }
// }
//
// .nav-menu{
//   -webkit-transition: all 1s;
//   transition: all 1s;
// }
//
// .main-navigation{
//   a{
//     letter-spacing: 0;
//     &::after{
//       -webkit-transition: all 0.2s;
//       transition: all 0.2s;
//     }
//     &:hover{
//       letter-spacing: 0.2em;
//       &::after{
//         letter-spacing: 0.2em;
//       }
//     }
//   }
// }
//
// .menu-toggle{
//   -webkit-transition: all 1s;
//     transition: all 1s;
// }
