//main:style.scss

.u-inline-block{
  display: inline-block;
}

.u-relative{
  position: relative;
}

.u-float_left{
  float: left;
}

.u-width_100par{
  width: 100%;
}

.u-clear_both{
  clear: both;
}

.m_display_none{
  @include media_m{
    display: none;
  }
}

._m_display_none{
  @include _media_m{
    display: none;
  }
}
