//main:style.scss

/* imgをbackground coverと同等の表示 */
.cover_img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  // max-height: 100vh; /* 単体動作させる場合に必要 */
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
    transform: translate(-50%,-50%);
  }
}
