//main:style.scss

/* =========
コンテナ論理構造
.site-footer--top
.空コンテナ
    .site-footer--scroll-top-area
      .site-footer--scroll-top-area__abs

.site-footer--bottom
    .site-footer--bottom__left
    .site-footer--bottom__right
========= */

/* ==================
   コンテナ
================== */
.site-footer--top{}

.site-footer--scroll-top-area{
  position: relative;
  &__abs{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
  }
}

.site-footer--bottom{
  &__left{}
  &__right{}
  @include media_m{
    display: table;
    &__left{
      display: table-cell;
    }
    &__right{
      display: table-cell;
      vertical-align: bottom;
    }
  }
}

/* ==================
   内容
================== */
/* フッターバナー */
.site-footer--banner{
  @include footer_tb_space;
  ul{
    @include list_style_none;
    text-align: center;
    li{
      display: inline-block;
      padding: 0.5em;
      a{
        padding: 0 0.5em;
      }
    }
  }
}

.site-footer--scroll-top-btn{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  @include hideText;
  &::after{
      @include showText;
      position: absolute;
      content: '\f106\ATOP';
      white-space: pre ;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center;

      font-family: FontAwesome, Meiryo, メイリオ;
      font-size: 14px;
      line-height: 1.2;
  }
}

/* フッターサイトタイトル（サイトロゴ） */
.site-footer--site-title{
  @include footer_tb_space;
}

/* フッター会社情報 */
.site-footer--company_info{
  @include footer_tb_space;
  p{
    margin: 0;
  }
  &__name{}
  &__addr{}
  &__tel{}
  &__fax{}
}

/* フッターナビゲーション */
.site-footer--navgation{
  @include footer_tb_space;
  ul{
    @include list_style_none;
    li{
      display: inline-block;
    }

    @include media_m{
      text-align: right;
      li{}
    }
  }
}

/* コピーライト */
.site-footer--copyright{
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  font-size: 10px;
  margin: 0;
  padding: 1em;
}
