//main:style.scss

/* =========
コンテナ論理構造
.site-header
  .site-header-main
    .site-header-main__left
    .site-header-main__right
      .main-navigation
        .menu-toggle
        .menu-{メニュー名}-container

========= */


/* ==================
   _sデフォルト設定のリセット
================== */
.menu-toggle{ display: block; }
.main-navigation li{ float: none; }

.main-navigation ul ul li:hover>ul, .main-navigation ul ul li.focus>ul {
  left: auto;
}
.main-navigation ul ul a {
  width: auto;
}


/* ==================
   コンテナ
================== */
.site-header{
  // position: relative;
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 100;
}

.site-header-main{
  display: table;
  width: 100%;
  &__left{
    display: table-cell;
    vertical-align: middle;
  }
  &__right{
    display: table-cell;
    vertical-align: middle;
  }
}
.site-branding{}
.main-navigation{}
.site-branding{}

/* ヘッダーメニュー */
@include media_l{
  .main-navigation{
    &,&.toggled{
      ul{ display: table; }
    }
    ul{
      width: 100%;
      li{ display: table-cell; }
    }
  }
}

/* スマホ ⇔ PC 切り替え */
@include _media_l{
  .main-navigation ul{ display: none; }
}

@include media_l{
  .menu-toggle{ display: none; }
}

/* ==================
   内容
================== */
/* ハンバーガーボタン */
.menu-toggle{
  margin-left: auto;
}
.nav-menu{
  text-align: right;
}


/* ==================
   入れ子のナビの処理
================== */
.main-navigation li {
  position: static;
  @include _media_l{
    position: relative;
  }
}

.main-navigation .sub-menu .sub-menu {
  position: absolute;
}

.main-navigation ul ul,.main-navigation ul ul ul {
  float: none;
  left: 0;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

.menu-item-btn-area{
  text-align: center;
}

.menu-item-children-control-btn{
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;

  &::after{
    content: '\f107';
    @include fontawsome;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &:hover{
    background-color: #000;
  }
}

/* 表示・非表示処理 */
:not(.toggle-on) + .sub-menu{
  display: none;
}
/* ==================
   スマホ時のナビ表示
================== */
/* ナビメニュー表示位置 */
@include _media_l{
  .main-navigation > div{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #fff;
  }

  .main-navigation{
    ul{
      li{
        display: block;
        &.menu-item{
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  .nav-menu{
    text-align: left;
  }

}


/* ==================
   スクロール設定
================== */
.js-scroll-togled.on .site-header{}
