//main:style.scss


/* ============================================================================
*  list syleのリセット
============================================================================ */
@mixin list_style_none{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    margin:0;
    padding:0;
  }
}


/* ============================================================================
*  clearfix
============================================================================ */
@mixin clearfix_min{
  &::after{
    content: "";
    clear: both;
    display: block;
  }
}


/* ============================================================================
*  テキストを隠す
============================================================================ */
@mixin hideText {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}


/* ============================================================================
*  隠したテキストを戻す
============================================================================ */
@mixin showText{
  text-indent: 0;
}


/* ============================================================================
*  fontawsome使用
============================================================================ */
@mixin fontawsome{
    font-family: FontAwesome;
}
